body {
  font-family: Helvetica, sans-serif;
}

section {
  margin: 0px auto;
  width: 1120px;
  padding: 15px;
}

header .signature {
  font-style: italic;
  letter-spacing: 0.001em;
  font-size: 15px;
  color: #555;
}

header .signature > a {
  text-decoration: none;
  transition: all 500ms ease;
}

header .signature > a:hover span {
  opacity: .9;
}

header .signature > a > span {
  background: #F1664F;
  padding: 10px 8px;
  margin-left: 5px;
  color: #FFF;
}

header h1 {
  color: #5E5B64;
  font-size: 60px;
}

header h1 span {
  font-size: 20px;
}

header h2 {
  margin-top: -30px;
  color: #F1664F;
}

header h3 {
  color: #5E5B64;
}

section.example {
  display: flex;
  justify-content: flex-start;
  height: 400px;
}

section .grid {
  padding: 20px;
  height: 100%;
}

section .grid.desc {
  width: 30%;
  background: #EEEEEE;
  color: rgba(0,0,0,.6);
  font-size: 18px;
}

section .grid span {
  font-size: 50px;
  color: #63C7EA;
}

section .grid.watch {
  width: 80%;
  display: flex;
  height: 400px;
  justify-content: center;
  flex-wrap: wrap;
  background: #63C7EA;
}

section .grid.watch li {
  list-style: none;
  width: 29%;
  height: 130px;
  padding: 3px;
}

section .grid.watch img {
  width: 100%;
  height: 100%;
}

section .images-status {
  font-size: 20px;
  color: #5E5B64;
}